################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/320_HolidayGame/v16/Browse.VC.db
/.vs/320_HolidayGame/v16/Browse.VC.db-shm
/.vs/320_HolidayGame/v16/Browse.VC.opendb
/.vs/320_HolidayGame/v16/Browse.VC.db-wal
