################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/320_HolidayGame/v16/Browse.VC.db
